includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

#    bootstrapFiles:
#        - vendor/autoload.php
#        - tests/Pest.php

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::assertDatabaseHas#'
        - '#Call to protected method assertDatabaseHas#'
        - '#Undefined variable: \$this#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php

#    parallel:
#        maximumNumberOfProcesses: 4
#
#    noUnnecessaryCollectionCall: false
#    checkMissingIterableValueType: false
